<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy</title>
</head>
<body>

  <div>
      <h3 th:text="${product.name}"></h3>
      <p th:text="${product.description}"> </p>
      <h4 th:text="${product.price}"></h4>

  </div>

  <div>
      <form action="#" th:action="@{/shop/}" th:object="${OrderForm}" method="post">
          <table>
              <tr>
                  <td>Mnozstvo:</td>
                  <td><input type="text" th:field="*{quantity}" /></td>
                  <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity Error</td>
              </tr>
              <tr>
                  <td>Sprava:</td>
                  <td><input type="text" th:field="*{message}" /></td>
                  <td th:if="${#fields.hasErrors('message')}" th:errors="*{message}">Message Error</td>
              </tr>
              <tr>
                  <td><button type="submit">Submit</button></td>
              </tr>
          </table>
      </form>
  </div>
</body>
</html>