<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
  <ul th:if="${products.empty}" >
    <li>No products</li>
  </ul>

  <ul th:each="product: ${products}">
    <li><a th:href="@{/shop/{name}(name=${product.name})}" th:text="${product.name}"></a></li>
  </ul>
</body>
</html>